{% extends 'layout.html'%}
{% block content %}

{% macro macro_display_formfield(formfield, w3ResponsiveGridClass) %}
<div class="{{w3ResponsiveGridClass}}">
    {{ formfield.label(class="w3-text-green w3-large") }}
    {% if formfield.errors %}
    {{ formfield(class="w3-select is-invalid") }}
    <div class="invalid-feedback">
        {% for error in formfield.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ formfield(class="w3-select  w3-section") }}
    {% endif %}
</div>
{% endmacro %}

{% macro macro_display_checkbox(formfield, w3ResponsiveGridClass) %}
<div class="{{w3ResponsiveGridClass}}">
    {{ formfield.label(class="w3-text-green w3-large") }}
    {% if formfield.errors %}
    {{ formfield(class="w3-select is-invalid") }}
    <div class="invalid-feedback">
        {% for error in formfield.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ formfield(class="w3-check  w3-section") }}
    {% endif %}
</div>
{% endmacro %}

<div class="w3-container w3-green w3-row">
    <div class="w3-third">
        <h2>{{title}}</h2>
    </div>
</div>

{{ macro_display_flashed_messages() }}

<div class="w3-container">
    <form class="w3-container w3-padding-large" method="POST" action="" enctype="multipart/form-data">
        {{ pblEventEditorForm.hidden_tag() }}
        <fieldset class="w3-container w3-padding-large w3-hover-border-green">
            {% if pblName == None %}
            <legend class="w3-xlarge">New PBL Event</legend>
            <div class="w3-row-padding">
                {{ macro_display_formfield(pblEventEditorForm.pblName, "w3-half") }}
                {{ macro_display_formfield(pblEventEditorForm.eventCategory, "w3-quarter") }}
            </div>
            {% else %}
            <legend class="w3-xlarge">PBL Event for {{ pblName }} </legend>
            <div class="w3-row-padding">
                {{ macro_display_formfield(pblEventEditorForm.eventCategory, "w3-quarter") }}
            </div>
            {% endif %}

            <div class="w3-row-padding">
                {{ macro_display_checkbox(pblEventEditorForm.confirmed, "w3-half") }}
            </div>
            <div class="w3-row-padding">
                {{ macro_display_formfield(pblEventEditorForm.eventDate, "w3-quarter") }}
                {{ macro_display_formfield(pblEventEditorForm.startTime, "w3-quarter") }}
                {{ macro_display_formfield(pblEventEditorForm.endTime, "w3-quarter") }}
            </div>
            <div class="w3-row-padding">
                {{ macro_display_formfield(pblEventEditorForm.eventLocation, "w3-half") }}
            </div>
            <div class="w3-row-padding">
                {{ macro_display_formfield(pblEventEditorForm.eventStreetAddress1, "w3-half") }}
                {{ macro_display_formfield(pblEventEditorForm.eventCity, "w3-quarter") }}
                {{ macro_display_formfield(pblEventEditorForm.eventState, "w3-quarter") }}
                {{ macro_display_formfield(pblEventEditorForm.eventZip, "w3-quarter") }}
                {{ macro_display_formfield(pblEventEditorForm.eventComments, "w3-half") }}
            </div>
            <div class="w3-row w3-padding-large">
                <a class="w3-btn w3-border-blue w3-large"
                    href="{{ url_for('pblPlanner_bp.displayStemIIIPblPlanner',selectedQuarter=event_quarter) }}">Cancel</a>
                {{ pblEventEditorForm.submitEditPblEvent(class="w3-btn w3-blue w3-large") }}
            </div>
        </fieldset>
    </form>
</div>


{% endblock content %}