{% extends 'layout.html'%}
{% block content %}
<div class="w3-container w3-green w3-row">
  <div class="w3-third">
    <h2>{{title}}</h2>
  </div>
</div>


<div class="w3-bar w3-blue">
  <button id='button_pblPlanner' class="w3-bar-item w3-button tablink w3-black"
    onclick="openTab(event, 'pblPlanner', 'PblPlanner')">PBL Planner</button>
  <button id='button_eventSchedules' class="w3-bar-item w3-button tablink"
    onclick="openTab(event, 'eventSchedules', 'PblPlanner')">Event Schedules</button>
</div>

{{ macro_display_flashed_messages() }}

<div class="infoTab" id="pblPlanner">

  <div class="w3-cell-row w3-margin w3-center">
    <form method="POST" action="{{ url_for('pblPlanner_bp.new_Pbl') }}" enctype="multipart/form-data" class="w3-cell">
      <input id="createNewPbl" type="submit" class="w3-btn w3-green w3-margin" value="Create New PBL">
    </form>
  </div>

  <form id="selectAcademicYearForm" method="POST" action="{{ url_for('pblPlanner_bp.displayStemIIIPblPlanner') }}"
    enctype="multipart/form-data" class="w3-quarter">
    <!-- Add drop down menu to select quarter -->
    <select name="selectedAcademicYear" id="selectedAcademicYear" form="selectAcademicYearForm"
      class="w3-select w3-margin">
      {% for year in academicYearChoices %}
      {% if year[0] == displayAcademicYear %}
      <option value="{{year[0]}}" selected>{{year[1]}}</option>
      {% else %}
      <option value="{{year[0]}}">{{year[1]}}</option>
      {% endif %}
      {% endfor %}
    </select>
  </form>

  <table class="w3-table w3-bordered w3-striped w3-hoverable">
    <thead>
      <tr class="w3-blue">
        <th></th>
        <th scope="col">Class</th>
        <th scope="col">Year</th>
        <th scope="col">Quarter</th>
        <th colspan="3">PBL Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>


    <tbody id="filteredTable">
      {% for pbl in pbls %}
      <tr class="w3-light-grey w3-hover-grey" style="visibility:visible;"
        onclick="activateAccordion(this,'accordion_{{pbl.id}}','w3-green','w3-lime')" data-rowType="selectorRow"
        data-identifier="accordion_{{pbl.id}}">
        <td><i class="fa fa-caret-right fa-fw" </i></td>
        <td scope="row">{{ pbl.className }}</td>
        <td>{{ pbl.academicYear }}</td>
        <td>{{ pbl.quarter }}</td>
        <td colspan="3">{{ pbl.pblName }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <form method="POST" action="{{ url_for('pblPlanner_bp.new_PblEvent', pbl_id=pbl.id) }}"
            enctype="multipart/form-data">
            <input type="submit" class="w3-btn w3-green" value="New PBL Event">
          </form>
        </td>
        <td>
          <form action="{{ url_for('pblPlanner_bp.edit_Pbl', log_id=pbl.id) }}" method="POST">
            <input class="w3-btn w3-green" type="submit" value="Edit">
          </form>
        </td>
        <td><button type="button" class="w3-btn w3-red"
            onclick="document.getElementById('deletePblModal{{pbl.id}}').style.display='block'">Delete</button>
        </td>

      </tr>
      <tr class="w3-amber" style="visibility:collapse;"
        onclick="activateAccordion(this,'accordion_{{pbl.id}}','w3-green','w3-lime')"
        data-identifier="accordion_{{pbl.id}}">
        <th scope="col">Event Category</th>
        <th scope="col">Confirmed</th>
        <th scope="col">Date</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Location</th>
        <th scope="col">Street Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Zip Code</th>
        <th scope="col">Comments</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      {% for pblEvent in pblEvents %}
      {% if pblEvent.pbl_id == pbl.id %}
      <tr class="w3-amber" style="visibility:collapse;"
        onclick="activateAccordion(this,'accordion_{{pbl.id}}','w3-green','w3-lime')"
        data-identifier="accordion_{{pbl.id}}">
        <td>{{ pblEvent.eventCategory }}</td>
        {% if pblEvent.confirmed == 1 %}
        <td class="w3-text-green">{{ pblEvent.confirmed }}</td>
        {% else %}
        <td class="w3-text-red">{{ pblEvent.confirmed }}</td>
        {% endif %}
        {% if pblEvent.eventDate != None %}
        <td>{{ pblEvent.eventDate.strftime('%a %b %-d') }}</td>
        <td>{{ pblEvent.startTime.strftime('%-I:%M')}}</td>
        <td>{{ pblEvent.endTime.strftime('%-I:%M') }}</td>
        {% else %}
        <td></td>
        <td></td>
        <td></td>
        {% endif %}
        <td>{{ pblEvent.eventLocation }}</td>
        <td>{{ pblEvent.eventStreetAddress1 }}</td>
        <td>{{ pblEvent.eventCity }}</td>
        <td>{{ pblEvent.eventState }}</td>
        <td>{{ pblEvent.eventZip }}</td>
        <td>{{ pblEvent.eventComments }}</td>
        <td>
          <form action="{{ url_for('pblPlanner_bp.edit_PblEvent', log_id=pblEvent.id) }}" method="POST">
            <input class="w3-button w3-green" type="submit" value="Edit">
          </form>
        </td>
        <td><button type="button" class="w3-btn w3-red"
            onclick="document.getElementById('deleteModal{{pblEvent.id}}').style.display='block'">Delete</button>
        </td>
      </tr>



      <!-- Modal -->
      <div class="w3-modal" id="deleteModal{{pblEvent.id}}">
        <div class="w3-container">
          <div class="w3-modal-content" style="width:50%">
            <header class="w3-container w3-red">
              <span onclick="document.getElementById('deleteModal{{pblEvent.id}}').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>
              <h2>Delete This PBL Event?</h2>
            </header>
            <footer class="w3-container w3-margin-top w3-white w3-center">
              <div class="w3-bar">
                <form action="{{ url_for('pblPlanner_bp.delete_PblEvent', log_id=pblEvent.id) }}" method="POST">
                  <button type="button" class="w3-button w3-large"
                    onclick="document.getElementById('deleteModal{{pblEvent.id}}').style.display='none'">Cancel</button>
                  <input class="w3-button w3-red w3-large" type="submit" value="Delete">
                </form>
              </div>
            </footer>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

      <!-- Modal -->
      <div class="w3-modal" id="deletePblModal{{pbl.id}}">
        <div class="w3-container">
          <div class="w3-modal-content" style="width:50%">
            <header class="w3-container w3-red">
              <span onclick="document.getElementById('deletePblModal{{pbl.id}}').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>
              <h2>Delete This PBL (and Related Events)?</h2>
            </header>
            <footer class="w3-container w3-margin-top w3-white w3-center">
              <div class="w3-bar">
                <form action="{{ url_for('pblPlanner_bp.delete_Pbl', log_id=pbl.id) }}" method="POST">
                  <button type="button" class="w3-button w3-large"
                    onclick="document.getElementById('deletePblModal{{pbl.id}}').style.display='none'">Cancel</button>
                  <input class="w3-button w3-red w3-large" type="submit" value="Delete">
                </form>
              </div>
            </footer>
          </div>
        </div>
      </div>

      {% endfor %}
    </tbody>
  </table>

</div>

<div class="infoTab" id="eventSchedules" style="display:none;">

  <form id="selectQuarterForm" method="POST" action="{{ url_for('pblPlanner_bp.displayStemIIIPblPlanner') }}"
    enctype="multipart/form-data" class="w3-quarter">
    <!-- Add drop down menu to select quarter -->
    <select name="selectedQuarter" id="selectedQuarter" form="selectQuarterForm" class="w3-select w3-margin">
      {% for quarter in quarterOptions %}
      {% if quarter[0]|int == displayQuarter %}
      <option value="{{quarter[0]}}" selected>{{quarter[1]}}</option>
      {% else %}
      <option value="{{quarter[0]}}">{{quarter[1]}}</option>
      {% endif %}
      {% endfor %}
    </select>
    <input id="hidden-selected-academic-year" type="hidden" name="selectedAcademicYear">
  </form>

  <div class="w3-panel"></div>
  <div class="w3-container">
    <h3 class="w3-center">Kickoff Schedule</h3>
  </div>

  <table class="w3-table w3-bordered w3-striped w3-hoverable">
    <thead>
      <tr class="w3-blue">
        <th>PBL</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Event Location</th>
        <th>Sponsor</th>
        <th>Actions</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for pblEvent in pblKickoffEvents %}
      <tr>
        <td>{{ pblEvent.Pbls.pblName }}</td>
        {% if pblEvent.eventDate != None %}
        <td>{{ pblEvent.eventDate.strftime('%a %b %-d') }}</td>
        <td>{{ pblEvent.startTime.strftime('%-I:%M %p')}}</td>
        <td>{{ pblEvent.endTime.strftime('%-I:%M %p') }}</td>
        {% else %}
        <td></td>
        <td></td>
        <td></td>
        {% endif %}
        <td>{{ pblEvent.eventLocation }} <br>{{ pblEvent.eventStreetAddress1 }} <br>{{ pblEvent.eventCity }},
          {{ pblEvent.eventState }} {{ pblEvent.eventZip }}</td>
        <td>{{ pblEvent.Pbls.pblSponsorPersonName }}</td>
        <td>
          <form action="{{ url_for('pblPlanner_bp.edit_PblEvent', log_id=pblEvent.id) }}" method="POST">
            <input class="w3-button w3-green" type="submit" value="Edit">
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="w3-panel"></div>
  <div class="w3-container">
    <h3 class="w3-center">Final Presentation Schedule</h3>
  </div>

  <table class="w3-table w3-bordered w3-striped w3-hoverable">
    <thead>
      <tr class="w3-blue">
        <th>PBL</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Event Location</th>
        <th>Sponsor</th>
        <th>Actions</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for pblEvent in pblFinalEvents %}
      <tr>
        <td>{{ pblEvent.Pbls.pblName }}</td>
        {% if pblEvent.eventDate != None %}
        <td>{{ pblEvent.eventDate.strftime('%a %b %-d') }}</td>
        <td>{{ pblEvent.startTime.strftime('%-I:%M %p')}}</td>
        <td>{{ pblEvent.endTime.strftime('%-I:%M %p') }}</td>
        {% else %}
        <td></td>
        <td></td>
        <td></td>
        {% endif %}
        <td>{{ pblEvent.eventLocation }} <br>{{ pblEvent.eventStreetAddress1 }} <br>{{ pblEvent.eventCity }},
          {{ pblEvent.eventState }} {{ pblEvent.eventZip }}</td>
        <td>{{ pblEvent.Pbls.pblSponsorPersonName }}</td>
        <td>
          <form action="{{ url_for('pblPlanner_bp.edit_PblEvent', log_id=pblEvent.id) }}" method="POST">
            <input class="w3-button w3-green" type="submit" value="Edit">
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


</div>


<script type="text/javascript" src="{{ url_for('static', filename='js/activateAccordion.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/pageTabs.js') }}"></script>
<!-- Reload page to last loaded tab -->
<script type='text/javascript'>
  document.addEventListener("DOMContentLoaded", function (event) {
    selected_tab = 'PblPlanner_selected_tab';
    var selectedTab = sessionStorage.getItem(selected_tab);
    if (selectedTab) {
      document.getElementById("button_" + selectedTab).click();
    } else {
      document.getElementById("button_editTemplate").click();
    }
  });
</script>

<script>
  // Set event listeners for academic year selection
  var selectedAcademicYearDropdown = document.getElementById("selectedAcademicYear")
  selectedAcademicYearDropdown.addEventListener("change", function () { submitUpdatedAcademicYear(event); });

  // Update filterUpdateFlag to indicate change to filter settings and submit form
  function submitUpdatedAcademicYear(event) {
    console.log('Change academic year downdrop menu detected!')
    trigger_field = document.getElementById(event.target.id);
    form = trigger_field.form;
    form.submit();
  }
</script>

<script>
  // Set event listeners for quarter selection
  var selectedQuarterDropdown = document.getElementById("selectedQuarter")
  var hiddenAcademicYear = document.getElementById("hidden-selected-academic-year")
  selectedQuarterDropdown.addEventListener("change", function () { submitUpdatedQuarter(event); });

  // Update filterUpdateFlag to indicate change to filter settings and submit form
  function submitUpdatedQuarter(event) {
    console.log('Change quarter downdrop menu detected!')
    hiddenAcademicYear.value = selectedAcademicYearDropdown.value
    trigger_field = document.getElementById(event.target.id);
    form = trigger_field.form;
    form.submit();
  }
</script>




{% endblock content %}