{% extends "layout.html" %}
{% block content %}
<div class="w3-container w3-green w3-row">
    <div class="w3-third">
        <h2>{{title}}</h2>
    </div>
</div>

{{ macro_display_flashed_messages() }}

<div class="w3-row-padding">
    <div class="w3-container w3-half">
        <fieldset class="w3-container w3-padding-large w3-hover-border-green">
            <legend class="w3-xlarge">PBL Event Info</legend>
            <div class="w3-container">
                <p>Outputs a CSV file with PBL event info. This file is useful for creating posters for PBL kickoffs and
                    final presentations.</p>
            </div>
            <form id="PblEventsForm" method="POST" action="{{ url_for('pblPlanner_bp.download_PblEvents') }}"
                enctype="multipart/form-data">
                <div class="w3-container w3-row-padding">
                    <select name="selectedQuarter" id="PblEventsFormSelectedQuarter" form="PblEventsForm"
                        class="w3-select w3-padding w3-margin w3-third">
                        {% for quarter in quarterOptions %}
                        {% if quarter[0]|int == displayQuarter %}
                        <option value="{{quarter[0]}}" selected>{{quarter[1]}}</option>
                        {% else %}
                        <option value="{{quarter[0]}}">{{quarter[1]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <select name="selectedEventCategory" id="PblEventsFormSelectedEventCategory" form="PblEventsForm"
                        class="w3-select w3-padding w3-margin w3-third">
                        {% for eventCategory in eventCategoryChoices %}
                        <option value="{{eventCategory[0]}}">{{eventCategory[1]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="w3-container w3-row-padding">
                    <input id="PblEventsFormSubmit" type="submit" class="w3-btn w3-green w3-margin" value="Download">
                </div>
            </form>
        </fieldset>
    </div>

    <div class="w3-container w3-half">
        <fieldset class="w3-container w3-padding-large w3-hover-border-green">
            <legend class="w3-xlarge">PBL Teams</legend>
            <div class="w3-container">
                <p>Outputs a CSV file with a list of PBL team members and their PBL. PBL teams which haven't been
                    assigned a PBL yet are listed
                    as well.</p>
            </div>
            <form id="PblTeamForm" method="POST" action="{{ url_for('pblPlanner_bp.download_PblTeams') }}"
                enctype="multipart/form-data">
                <div class="w3-container w3-row-padding">
                    <select name="selectedQuarter" id="PblTeamFormSelectedQuarter" form="PblTeamForm"
                        class="w3-select w3-padding w3-margin w3-third">
                        {% for quarter in quarterOptions %}
                        {% if quarter[0]|int == displayQuarter %}
                        <option value="{{quarter[0]}}" selected>{{quarter[1]}}</option>
                        {% else %}
                        <option value="{{quarter[0]}}">{{quarter[1]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="w3-container w3-row-padding">
                    <input id="PblTeamFormSubmit" type="submit" class="w3-btn w3-green w3-margin" value="Download">
                </div>
            </form>
        </fieldset>
    </div>

    <div class="w3-container w3-half">
        <fieldset class="w3-container w3-padding-large w3-hover-border-green">
            <legend class="w3-xlarge">PBL Field Trip Info</legend>
            <div class="w3-container">
                <p>Outputs a CSV file with PBL event info for both kickoffs and final presentations on a single line.
                    This file is useful for preparing field trip request forms.</p>
            </div>
            <form id="PblFieldTripInfoForm" method="POST"
                action="{{ url_for('pblPlanner_bp.download_PblFieldTripInfo') }}" enctype="multipart/form-data">
                <div class="w3-container w3-row-padding">
                    <select name="selectedQuarter" id="PblFieldTripInfoFormSelectedQuarter" form="PblFieldTripInfoForm"
                        class="w3-select w3-padding w3-margin w3-third">
                        {% for quarter in quarterOptions %}
                        {% if quarter[0]|int == displayQuarter %}
                        <option value="{{quarter[0]}}" selected>{{quarter[1]}}</option>
                        {% else %}
                        <option value="{{quarter[0]}}">{{quarter[1]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="w3-container w3-row-padding">
                    <input id="PblFieldTripInfoFormSubmit" type="submit" class="w3-btn w3-green w3-margin"
                        value="Download">
                </div>
            </form>
        </fieldset>
    </div>


    <div class="w3-container w3-half">
        <fieldset class="w3-container w3-padding-large w3-hover-border-green">
            <legend class="w3-xlarge">PBL Teams and Event Info</legend>
            <div class="w3-container">
                <p>Outputs a CSV file with a list of PBL team members and the event details for their PBL. PBL teams
                    which haven't been assigned a PBL yet are not listed.</p>
            </div>
            <form id="PblTeamAndEventsForm" method="POST"
                action="{{ url_for('pblPlanner_bp.download_PblTeamsAndEvents') }}" enctype="multipart/form-data">
                <div class="w3-container w3-row-padding">
                    <select name="selectedQuarter" id="PblTeamAndEventsFormSelectedQuarter" form="PblTeamAndEventsForm"
                        class="w3-select w3-padding w3-margin w3-third">
                        {% for quarter in quarterOptions %}
                        {% if quarter[0]|int == displayQuarter %}
                        <option value="{{quarter[0]}}" selected>{{quarter[1]}}</option>
                        {% else %}
                        <option value="{{quarter[0]}}">{{quarter[1]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <select name="selectedEventCategory" id="PblTeamAndEventsFormSelectedEventCategory"
                        form="PblTeamAndEventsForm" class="w3-select w3-padding w3-margin w3-third">
                        {% for eventCategory in eventCategoryChoices %}
                        <option value="{{eventCategory[0]}}">{{eventCategory[1]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="w3-container w3-row-padding">
                    <input id="PblTeamAndEventsFormSubmit" type="submit" class="w3-btn w3-green w3-margin"
                        value="Download">
                </div>
            </form>
        </fieldset>
    </div>

</div>



{% endblock content %}