{% extends 'layout.html'%}
{% block content %}
<div class="w3-container w3-green w3-row">
    <div class="w3-third">
        <h2>{{title}}</h2>
    </div>
</div>

<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.target.style.opacity = '0.4';
        ev.dataTransfer.setData("Text", ev.target.id);
    }

    function drop(ev, el) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("Text");
        document.getElementById(data).style.opacity = '1';
        el.appendChild(document.getElementById(data));
        // console.log('Element = ' + el);
    }
</script>
</head>

<div class="w3-bar w3-blue">
    <button id='button_pblTeamBuilder' class="w3-bar-item w3-button tablink w3-black"
        onclick="openTab(event, 'pblTeamBuilder', 'PblTeamManager')">PBL Team Builder</button>
    <button id='button_pblTeamEventList' class="w3-bar-item w3-button tablink"
        onclick="openTab(event, 'pblTeamEventList', 'PblTeamManager')">PBL Team Event List</button>
    <button id='button_pblTeamEmailCenter' class="w3-bar-item w3-button tablink"
        onclick="openTab(event, 'pblTeamEmailCenter', 'PblTeamManager')">PBL Team Communications Center</button>
</div>

{{ macro_display_flashed_messages() }}

<div class="infoTab" id="pblTeamBuilder">
    <div id="Team 0" class="w3-container w3-light-grey" id="div1" ondrop="drop(event, this)"
        ondragover="allowDrop(event)">
        <div class="w3-container w3-row-padding">
            <form id="selectQuarterForm" method="POST" action="{{ url_for('pblPlanner_bp.displayStemIIITeams') }}"
                enctype="multipart/form-data" class="w3-quarter">
                <!-- Add drop down menu to select quarter -->
                <select name="selectedQuarter" id="selectedQuarter" form="selectQuarterForm"
                    class="w3-select w3-margin">
                    {% for quarter in quarterOptions %}
                    {% if quarter[0]|int == displayQuarter %}
                    <option value="{{quarter[0]}}" selected>{{quarter[1]}}</option>
                    {% else %}
                    <option value="{{quarter[0]}}">{{quarter[1]}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </form>
            <!-- Add form to submit PBL teams and PBL Choices (triggered by event listener) -->
            <form method="POST" action="{{ url_for('pblPlanner_bp.saveTeams') }}" enctype="multipart/form-data"
                class="w3-half">
                <input id="teamList" name="teamList" type="hidden" value="">
                <input id="quarter" name="quarter" type="hidden" value="">
                <input id="saveTeamButton" type="submit" class="w3-btn w3-green w3-margin"
                    value="Save Teams and PBL Choices">
            </form>
        </div>
        <div class="w3-container w3-padding">
            <p>Students</p>
            <div class="w3-container w3-cell-row">
                <!-- List all students not assigned to a team (i.e., team 0) -->
                {% for pblTeam in pblTeams %}
                {% if pblTeam.pblTeamNumber == 0 %}
                <div id="{{pblTeam.Student.chattStateANumber}}"
                    class="w3-container w3-cell w3-blue w3-padding w3-border w3-round-xlarge w3-tiny" draggable="true"
                    ondragstart="drag(event)">{{pblTeam.Student.firstName}} {{pblTeam.Student.lastName}}</div>
                <!-- Display 9 students per row -->
                {% if loop.index is divisibleby(9) %}
            </div>
            <div class="w3-container w3-cell-row">
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="content w3-container">
        <div class="w3-row-padding w3-margin w3-small">
            {% for teamNumber in teamNumbers %}
            <div class="w3-third w3-container w3-border w3-round-xlarge w3-padding" id="Team {{teamNumber}}"
                ondrop="drop(event, this)" ondragover="allowDrop(event)">
                <p>Team {{teamNumber}}</p>
                <!-- List team info for this team number-->
                {% for pblTeam in pblTeams if pblTeam.pblTeamNumber == teamNumber|int %}
                {% if loop.first %}
                <!-- If team has selected a PblChoice, use that choice as the default for PblChoice dropdown-->
                <div class="w3-container">
                    <select name="pblChoice" id="Team {{teamNumber}} pblChoice" class="w3-select w3-margin">
                        {% for pblOption in pblOptions %}
                        {% if pblTeam.pbl_id == pblOption[0] %}
                        <option value="{{pblOption[0]}}" selected>{{pblOption[1]}}</option>
                        {% else %}
                        <option value="{{pblOption[0]}}">{{pblOption[1]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                <!-- List each team member as a drag and drop item -->
                <div id="{{pblTeam.Student.chattStateANumber}}"
                    class="w3-container w3-cell w3-blue w3-padding w3-border w3-round-xlarge w3-tiny" draggable="true"
                    ondragstart="drag(event)">{{pblTeam.Student.firstName}} {{pblTeam.Student.lastName}}</div>
                {% else %}
                <!-- If no team for this team number, include a PblChoice dropdown selector -->
                <div class="w3-container">
                    <select name="pblChoice" id="Team {{teamNumber}} pblChoice" class="w3-select w3-margin">
                        {% for pblOption in pblOptions %}
                        <option value="{{pblOption[0]}}">{{pblOption[1]}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endfor %}

            </div>
            <!-- Display 3 teams per row -->
            {% if loop.index is divisibleby(3) %}
        </div>
        <div class="w3-row-padding w3-margin w3-small">
            {% endif %}
            {% endfor %}
        </div>
    </div>

</div>

<div class="infoTab" id="pblTeamEmailCenter" style="display:none;">

    <div class="w3-container w3-row-padding">
        <form id="selectQuarterFormEmailCenter" method="POST"
            action="{{ url_for('pblPlanner_bp.displayStemIIITeams') }}" enctype="multipart/form-data"
            class="w3-quarter">
            <!-- Add drop down menu to select quarter -->
            <select name="selectedQuarter" id="selectedQuarterEmailCenter" form="selectQuarterFormEmailCenter"
                class="w3-select w3-margin">
                {% for quarter in quarterOptions %}
                {% if quarter[0]|int == displayQuarter %}
                <option value="{{quarter[0]}}" selected>{{quarter[1]}}</option>
                {% else %}
                <option value="{{quarter[0]}}">{{quarter[1]}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </form>
        <!-- Add form to submit PBL teams and PBL Choices (triggered by event listener) -->
        <form id="sendPblEmailForm" method="POST" action="{{ url_for('pblPlanner_bp.emailTeams') }}"
            enctype="multipart/form-data" class="w3-threequarter">
            <input id="quarterEmailCenter" name="quarter" type="hidden" value="">
            <select name="emailRecipients" id="emailRecipients" form="sendPblEmailForm"
                class="w3-select w3-quarter w3-margin">
                {% for recipient in pblEmailRecipientChoices %}
                <!-- Add option group for PBL groups -->
                {% if loop.index == 8 %}
                <optgroup label="PBL-Specific Groups">
                    {% endif %}
                    <option value="{{recipient[0]}}">{{recipient[1]}}</option>
                    {% endfor %}
                </optgroup>
            </select>
            <select name="emailTemplate" id="emailTemplate" form="sendPblEmailForm"
                class="w3-select w3-quarter w3-margin">
                {% for template in pblEmailTemplates %}
                {% if template[0] == "-1" %}
                <optgroup label="Attendance Log Actions">
                    <option value="{{template[0]}}">{{template[1]}}</option>
                    {% elif template[0] == "-2" %}
                    <option value="{{template[0]}}">{{template[1]}}</option>
                </optgroup>
                <optgroup label="Email Actions">
                    {% else %}
                    <option value="{{template[0]}}">{{template[1]}}</option>
                    {% endif %}
                    {% endfor %}
                </optgroup>
            </select><input id="emailTeamsButton" type="submit" class="w3-button w3-quarter w3-green w3-margin"
                value="Submit Action">
    </div>

    <div class="w3-panel"></div>
    <div class="w3-container">
        <h3 class="w3-center">PBL Team List</h3>
    </div>

    <table id="pbl-team-list" class="w3-table w3-bordered w3-striped w3-hoverable">
        <thead>
            <tr class="w3-blue">
                <th>Team Number</th>
                <th>Chatt State A Number</th>
                <th>Email</th>
                <th>Select</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>PBL Name</th>
                <!-- <th>Actions</th> -->
            </tr>
        </thead>
        <tbody>
            {% for pblTeam in pblTeams %}
            <tr>
                <td>{{pblTeam.pblTeamNumber}}</td>
                <td>{{pblTeam.chattStateANumber}}</td>
                <td>{{pblTeam.Student.email}}</td>
                <td><input type="checkbox" id="sendEmail_{{pblTeam.chattStateANumber}}" name="sendEmailCheckbox"
                        class="w3-check" value="{{pblTeam.chattStateANumber}}"></td>
                <td>{{pblTeam.Student.firstName}}</td>
                <td>{{pblTeam.Student.lastName}}</td>
                <td>{{ pblTeam.Pbls.pblName }}</td>
                <!-- <td></td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </form>

</div>

<div class="infoTab" id="pblTeamEventList" style="display:none;">

    <div class="w3-container w3-row-padding">
        <form id="selectQuarterFormTeamEventList" method="POST"
            action="{{ url_for('pblPlanner_bp.displayStemIIITeams') }}" enctype="multipart/form-data"
            class="w3-threequarter">
            <!-- Add drop down menu to select quarter -->
            <select name="selectedQuarter" id="selectedQuarterTeamEventList" form="selectQuarterFormTeamEventList"
                class="w3-select w3-quarter w3-margin">
                {% for quarter in quarterOptions %}
                {% if quarter[0]|int == displayQuarter %}
                <option value="{{quarter[0]}}" selected>{{quarter[1]}}</option>
                {% else %}
                <option value="{{quarter[0]}}">{{quarter[1]}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <select name="selectedEventCategory" id="selectedEventCategoryFormTeamEventList"
                form="selectQuarterFormTeamEventList" class="w3-select w3-quarter w3-margin">
                {% for eventCategory in eventCategoryChoices %}
                {% if eventCategory[0] == displayEventCategory %}
                <option value="{{eventCategory[0]}}" selected>{{eventCategory[1]}}</option>
                {% else %}
                <option value="{{eventCategory[0]}}">{{eventCategory[1]}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </form>

        <div class="w3-panel"></div>
        <div class="w3-container">
            <h3 class="w3-center">PBL Team Event List</h3>
        </div>

        <table id="pbl-team-event-list" class="w3-table w3-bordered w3-striped w3-hoverable">
            <thead>
                <tr class="w3-blue">
                    <th>Team Number</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>PBL Name</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Location</th>
                    <!-- <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Comment</th> -->
                </tr>
            </thead>
            <tbody>
                {% for pblStudent in pblTeamsAndEvents %}
                <tr>
                    <td>{{pblStudent[0].pblTeamNumber}}</td>
                    <td>{{pblStudent[0].Student.firstName}}</td>
                    <td>{{pblStudent[0].Student.lastName}}</td>
                    <td>{{ pblStudent[0].Pbls.pblName }}</td>
                    {% if pblStudent[1].eventDate != None %}
                    <td>{{ pblStudent[1].eventDate.strftime('%a %b %-d') }}</td>
                    <td>{{ pblStudent[1].startTime.strftime('%-I:%M')}}</td>
                    <td>{{ pblStudent[1].endTime.strftime('%-I:%M') }}</td>
                    {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                    {% endif %}
                    <td>{{ pblStudent[1].eventLocation }}</td>
                    <!-- <td>{{ pblStudent[1].eventStreetAddress1 }}</td>
                    <td>{{ pblStudent[1].eventCity }}</td>
                    <td>{{ pblStudent[1].eventState }}</td>
                    <td>{{ pblStudent[1].eventZip }}</td>
                    <td>{{ pblStudent[1].eventComments }}</td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <!-- Script used with css to create sticky header per example here-->
    <!-- https://www.w3schools.com/howto/howto_js_sticky_header.asp -->
    <!-- Note: set css padding-top=350px based on experimenting with scroll behavior -->
    <!-- The value of 350px is likely  due to the size of the student list-->
    <!-- The sticy header behavior requires using class=content and id=myStickyHeader -->
    <script>
        window.onscroll = function () { myStickyFunction() };
        var header = document.getElementById("Team 0");
        var sticky = header.offsetTop;
        // console.log('offsetTop = ' + header.offsetTop)
        function myStickyFunction() {
            // console.log('pageYOffset = ' + window.pageYOffset)
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
    </script>

    <script>
        // Set event listeners for quarter selection for Team Builder
        var selectedQuarterDropdown = document.getElementById("selectedQuarter")
        selectedQuarterDropdown.addEventListener("change", function () { submitUpdatedQuarter(event); });
        // Set event listeners for quarter selection for Communications Center
        var selectedQuarterDropdownEmailCenter = document.getElementById("selectedQuarterEmailCenter")
        selectedQuarterDropdownEmailCenter.addEventListener("change", function () { submitUpdatedQuarter(event); });
        // Set event listeners for quarter selection for Team Event List
        var selectedQuarterDropdownTeamEventList = document.getElementById("selectedQuarterTeamEventList")
        selectedQuarterDropdownTeamEventList.addEventListener("change", function () { submitUpdatedQuarter(event); });
        var selectedEventDropdownTeamEventList = document.getElementById("selectedEventCategoryFormTeamEventList")
        selectedEventDropdownTeamEventList.addEventListener("change", function () { submitUpdatedQuarter(event); });

        // Update filterUpdateFlag to indicate change to filter settings and submit form
        function submitUpdatedQuarter(event) {
            // console.log('Change quarter downdrop menu detected!')
            trigger_field = document.getElementById(event.target.id);
            form = trigger_field.form;
            form.submit();
        }
    </script>

    <script>
        // Create event listener to save team details in session variable on form submit
        var saveTeamButton = document.querySelector("input[id=saveTeamButton]");
        // var submitLearningLab = document.querySelector("input[id=addTimeAndDays5]");
        saveTeamButton.addEventListener("click", function () { saveTeam(event); });

        function saveTeam(evt) {
            evt.preventDefault();
            // Save the current team members
            teamDivs = document.querySelectorAll("div[id^=Team");
            // console.log("Total teams count =" + teamDivs.length);
            teamMembers = document.querySelectorAll("div[id^=A0");
            // console.log("Total students =" + teamMembers.length);
            // Initialize the JSON object to hold the properties and values
            var object = {};
            // Cycle through the selectfields
            for (i = 0; i < teamDivs.length; i++) {
                var teamMemberList = [];
                teamMembers = teamDivs[i].querySelectorAll("div[id^=A");
                for (j = 0; j < teamMembers.length; j++) {
                    // console.log('team = ' + teamDivs[i].id + ' teamMember = ' + teamMembers[j].id);
                    teamMemberList.push(teamMembers[j].id);
                }
                pblSelect = teamDivs[i].querySelector("select");
                if (pblSelect != null) {
                    // console.log("pblSelect = " + pblSelect.id);
                    pblChoice = pblSelect.value;
                } else {
                    pblChoice = "";
                }
                team = teamDivs[i].id;
                object[team] = { teamMemberList: teamMemberList, pblChoice: pblChoice };
            }

            // Convert the JSON object to a string
            myJSON = JSON.stringify(object);
            // console.log('myJSON =' + myJSON);
            // Save the JSON object to the session variable
            sessionStorage.setItem("SavedTeams", myJSON);
            trigger_field = document.getElementById(evt.target.id);
            form = trigger_field.form;
            document.getElementById("teamList").value = myJSON;
            var quarter = document.getElementById("selectedQuarter").value;
            // console.log('selected quarter = ' + quarter)
            document.getElementById("quarter").value = quarter;
            form.submit();

        }
    </script>

    <script>
        // Create event listener to save team details in session variable on form submit
        var emailTeamsButton = document.querySelector("input[id=emailTeamsButton]");
        // var submitLearningLab = document.querySelector("input[id=addTimeAndDays5]");
        emailTeamsButton.addEventListener("click", function () { emailTeams(event); });

        function emailTeams(evt) {
            evt.preventDefault();
            trigger_field = document.getElementById(evt.target.id);
            form = trigger_field.form;
            var quarter = document.getElementById("selectedQuarterEmailCenter").value;
            document.getElementById("quarterEmailCenter").value = quarter;
            form.submit();

        }
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/pageTabs.js') }}"></script>
    <!-- Reload page to last loaded tab -->
    <script type='text/javascript'>
        document.addEventListener("DOMContentLoaded", function (event) {
            selected_tab = 'PblTeamManager_selected_tab';
            var selectedTab = sessionStorage.getItem(selected_tab);
            if (selectedTab) {
                document.getElementById("button_" + selectedTab).click();
            } else {
                document.getElementById("button_editTemplate").click();
            }
        });
    </script>

    <script>
        // DataTables interferes with selection of student checkbox on form submission 
        // $(document).ready(function () {
        //     $('#pbl-team-list').DataTable({
        //         "lengthMenu": [[-1, 10, 25, 50], ["All", 10, 25, 50]]
        //     });
        // });

        // $(document).ready(function () {
        //     $('#pbl-team-event-list').DataTable({
        //         "lengthMenu": [[-1, 10, 25, 50], ["All", 10, 25, 50]]
        //     });
        // });
    </script>


    {% endblock content %}