{% extends 'layout.html'%}
{% block content %}

{% macro macro_display_formfield(formfield) %}
<div class="w3-third">
  {{ formfield.label(class="w3-text-green w3-large") }}
  {% if formfield.errors %}
  {{ formfield(class="w3-select is-invalid") }}
  <div class="invalid-feedback">
    {% for error in formfield.errors %}
    <span>{{ error }}</span>
    {% endfor %}
  </div>
  {% else %}
  {{ formfield(class="w3-select w3-border") }}
  {% endif %}
</div>
{% endmacro %}

{% macro macro_display_checkbox(formfield, w3ResponsiveGridClass) %}
<div class="{{w3ResponsiveGridClass}}">
  <!-- {{ formfield.label(class="w3-text-green w3-large") }} -->
  {% if formfield.errors %}
  {{ formfield(class="w3-select is-invalid") }}
  <div class="invalid-feedback">
    {% for error in formfield.errors %}
    <span>{{ error }}</span>
    {% endfor %}
  </div>
  {% else %}
  {{ formfield(class="w3-check") }}
  {% endif %}
</div>
{% endmacro %}

<div class="w3-container w3-green w3-row">
  <div class="w3-threequarter">
    <h2>{{title}}</h2>
  </div>
  <div class="w3-rest w3-margin w3-padding-large">
    <a href="/tmifinalapproval/download" target="blank"><i class="fa fa-download fa-fw"></i>Download TMI Log</a>
  </div>
</div>
<div class="w3-container w3-yellow w3-center"><b>{{ tmi_reminder_message }}</b></div>

{{ macro_display_flashed_messages() }}

<div class="w3-container">

  <div class="w3-row-padding">
    <div class="w3-col l3">
      <p><b>Start Date for TMI Period:</b> {{ startTmiPeriod.strftime('%a %b %-d') }}</p>
      <p><b>End Date for TMI Period:</b> {{ endTmiPeriod.strftime('%a %b %-d') }}</p>
      <p><b>TMI Date:</b> {{ tmiDay.strftime('%a %b %-d') }}</p>
    </div>

    <div class="w3-col l3 w3-margin-top"><button type="button" class="w3-btn w3-blue"
        onclick="document.getElementById('sendStudentEmailModal').style.display='block'">Send Student
        Notifications</button>
    </div>
    <div class="w3-col l3 w3-margin-top"><button type="button" class="w3-btn w3-blue"
        onclick="document.getElementById('sendParentEmailModal').style.display='block'">Send Parent
        Notifications</button>
    </div>
  </div>

  <!-- Modal -->
  <div class="w3-modal" id="sendStudentEmailModal">
    <div class="w3-container">
      <div class="w3-modal-content" style="width:50%">
        <header class="w3-container w3-red">
          <span onclick="document.getElementById('sendStudentEmailModal').style.display='none'"
            class="w3-button w3-display-topright">&times;</span>
          <h2>Send student notifications?</h2>
        </header>
        <footer class="w3-container w3-margin-top w3-white w3-center">
          <div class="w3-bar">
            <form action="{{ url_for('tmiFinalApproval_bp.displayTmiFinalApproval') }}" method="POST">
              <button type="button" class="w3-button w3-large"
                onclick="document.getElementById('sendStudentEmailModal').style.display='none'">Cancel</button>
              <input class="w3-button w3-red w3-large" name="submit_button" type="submit"
                value="Send Student Notifications">
            </form>
          </div>
        </footer>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="w3-modal" id="sendParentEmailModal">
    <div class="w3-container">
      <div class="w3-modal-content" style="width:50%">
        <header class="w3-container w3-red">
          <span onclick="document.getElementById('sendParentEmailModal').style.display='none'"
            class="w3-button w3-display-topright">&times;</span>
          <h2>Send parent notifications?</h2>
        </header>
        <footer class="w3-container w3-margin-top w3-white w3-center">
          <div class="w3-bar">
            <form action="{{ url_for('tmiFinalApproval_bp.displayTmiFinalApproval') }}" method="POST">
              <button type="button" class="w3-button w3-large"
                onclick="document.getElementById('sendParentEmailModal').style.display='none'">Cancel</button>
              <input class="w3-button w3-red w3-large" name="submit_button" type="submit"
                value="Send Parent Notifications">
            </form>
          </div>
        </footer>
      </div>
    </div>
  </div>


  <table class="w3-table w3-border w3-bordered w3-hoverable">
    <thead>
      <tr class="w3-blue">
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>TMI Minutes</th>
        <th>Student Notification</th>
        <th>Parent Notification</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="interventionLog">
      {% for studentTmiLog in tmiInterventionLog %}
      <tr class="w3-light-grey w3-hover-grey" style="visibility:visible;"
        onclick="activateAccordion(this,'accordion_{{studentTmiLog.id}}')" data-rowType="selectorRow"
        data-identifier="accordion_{{studentTmiLog.id}}">
        <td><i class="fa fa-caret-right fa-fw" </i></td>
        <td> {{ studentTmiLog.Student.firstName }}</td>
        <td> {{ studentTmiLog.Student.lastName }} </td>
        <td> {{ studentTmiLog.tmiMinutes }}</td>
        {% if studentTmiLog.studentNotification %}
        <td> {{ studentTmiLog.studentNotification | datetimefilter }}</td>
        {% else %}
        <td></td>
        {% endif %}
        {% if studentTmiLog.parentNotification %}
        <td> {{ studentTmiLog.parentNotification | datetimefilter }}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td><button type="button" class="w3-btn w3-green w3-text-white w3-small"
            onclick="document.getElementById('sendEmailModal_{{studentTmiLog.id}}').style.display='block'">Send
            Email...</button>
        </td>
      </tr>
      <tr class="w3-amber" style="visibility:collapse;"
        onclick="activateAccordion(this,'accordion_{{studentTmiLog.id}}')"
        data-identifier="accordion_{{studentTmiLog.id}}">
        <th class="w3-hide"> {{ studentTmiLog.Student.firstName }} </th>
        <th class="w3-hide"> {{ studentTmiLog.Student.lastName }}</th>
        <th></th>

        <th>Class:</th>
        <th>Date:</th>
        <th>Class Attendance:</th>
        <th>School Attendance:</th>
        <th>Teacher:</th>
        <th></th>
        <th></th>
      </tr>
      {% for studentFixedFields in classAttendanceFixedFields %}
      {% if studentFixedFields.ClassSchedule.Student.chattStateANumber == studentTmiLog.chattStateANumber %}
      <tr class="w3-amber" style="visibility:collapse;"
        onclick="activateAccordion(this,'accordion_{{studentTmiLog.id}}')"
        data-identifier="accordion_{{studentTmiLog.id}}">
        <td class="w3-hide"> {{ studentTmiLog.Student.firstName }} </td>
        <td class="w3-hide"> {{ studentTmiLog.Student.lastName }}</td>
        <td></td>

        <td>{{ studentFixedFields.ClassSchedule.className }}</td>
        <td>{{ studentFixedFields.ClassAttendanceLog.classDate.strftime('%a %b %-d') }}</td>
        <td>{{ studentFixedFields.ClassAttendanceLog.attendanceCode }}</td>
        <td>{% if studentFixedFields.DailyAttendanceLog %}
          {{ studentFixedFields.DailyAttendanceLog.attendanceCode }}
          <div class="w3-dropdown-hover w3-amber">
            <button class="w3-button"><i class="w3-large fa fa-sticky-note-o" aria-hidden="true"></i></button>
            <div class="w3-dropdown-content w3-bar-block">
              <a class="w3-bar-item w3-button">{{studentFixedFields.DailyAttendanceLog.comment }}</a>
            </div>
          </div>
          {% endif %}
        </td>
        <td>{{ studentFixedFields.ClassSchedule.teacherLastName }}</td>

        <td></td>
        <td></td>
      </tr>
      {% endif %}
      {% endfor %}

      <!-- Send Email Modal -->
      <div class="w3-modal" id="sendEmailModal_{{studentTmiLog.id}}">
        <div class="w3-container">
          <div class="w3-modal-content" style="width:50%">
            <header class="w3-container w3-green">
              <span onclick="document.getElementById('sendEmailModal_{{studentTmiLog.id}}').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>
              <h2>Send Email Notification for Individual</h2>
            </header>
            <footer class="w3-container w3-margin-top w3-white w3-center">
              <div class="w3-bar">
                <form action="{{ url_for('tmiFinalApproval_bp.sendTmiNotification', log_id=studentTmiLog.id) }}"
                  method="POST">
                  <button type="button" class="w3-button w3-large"
                    onclick="document.getElementById('sendEmailModal_{{studentTmiLog.id}}').style.display='none'">Cancel</button>
                  <input class="w3-button w3-blue w3-large" name="submit_button" type="submit"
                    value="Send Student Notification">
                  <input class="w3-button w3-blue w3-large" name="submit_button" type="submit"
                    value="Send Parent Notification">
                </form>
              </div>
            </footer>
          </div>
        </div>
      </div>
      {% endfor %}


    </tbody>
  </table>
</div>

<script>
  // Keep track of the scroll position so the page reloads to the same position 
  // after submitting attendance (prevents page from reloading to top of page 
  // when updating attendance records further down the page)
  document.addEventListener("DOMContentLoaded", function (event) {
    var scrollpos = localStorage.getItem('scrollpos');
    if (scrollpos) window.scrollTo(0, scrollpos);
  });

  window.onbeforeunload = function (e) {
    localStorage.setItem('scrollpos', window.scrollY);
  };
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/activateAccordion.js') }}"></script>

{% endblock content %}