{% extends "layout.html" %}
{% block content %}
<div class="w3-container w3-green w3-row">
    <div class="w3-third">
        <h2>{{title}}</h2>
    </div>
</div>

<div class="w3-panel"></div>

{% macro class_section(class_sections, day, block_start, block_end) %}
{% for section in class_sections %}
{% set start_time = section.startTime %}
{% if start_time >= block_start and start_time < block_end %} {% if section.day==day %} {{section.className}}
    ({{section.totalStudents}})<br>
    <p class="w3-small">{{section.startTime.strftime('%-I:%M')}} - {{section.endTime.strftime('%-I:%M')}}</p>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endmacro %}

    <div class="w3-panel">
        <h2>Weekly Class Schedules for {{year}} {{semester}} Semester</h2>
    </div>

    <div class="w3-container">
        {% for teacher in teachers %}
        <a href='#{{teacher}}'>[{{teacher}}]</a> |
        {% endfor %}
    </div>

    {% for teacher in teachers %}
    <div id={{teacher}} class="w3-panel"></div>
    <div class="w3-container">
        <h2 class="w3-panel w3-blue">{{teacher}}</h2>
        <h4 class="w3-yellow">{{ db_class_sections[teacher]["schedule_warning"] }}</h4>
        <table class="w3-table-all">
            <thead>
                <th>Time</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
            </thead>
            <tbody>
                {% for hour in hours %}
                {% if hour[0] in ["8:00","8:30","9:00"] %}
                {% if db_class_sections[teacher]['show_early_times'] %}
                <tr>
                    {% else %}
                <tr class="w3-hide">
                    {% endif %}
                    {% endif %}
                    <td>{{hour[0]}}</td>
                    {% for day in days %}
                    <td>{{ class_section(db_class_sections[teacher][day], day, hour[1], hour[2]) }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    {% endfor %}


    {% endblock content %}